/* The code below puts the title of the website in the center */
.title { 
    text-align: center;
}

/* The code below adds a white background-color and black text color for the body of the page. */
body {
    color: #d8d3ed;
    text-align: center;
    background-color: rgb(36, 19, 36);
}


/* The code below adds a black background-color and white text color for each section heading. */
.section {
    color:white;
    text-align: center;
}




.image {
    width: 500px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.title {
    color: rgb(227, 225, 225);
}

.text2 {
    color: aliceblue;
}

.section {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.section{
    font-size: large;
}

.title {
    font-size: larg;
}



